# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/

# Virtual environments
.venv/
env/
venv/
ENV/
env.bak/

# IDEs y editores
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Archivos de entorno
.env

# Docker
*.log
docker-compose.override.yml

# OS
.DS_Store
Thumbs.db

# Caché de test
.pytest_cache/
.tox/

# FastAPI
*.db
*.sqlite3
